.nav-left-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.nav-right-container {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.chat-user {
    height: 5em;
    width: 4.3em;
}

.back-image {
    background-image: url('https://res.cloudinary.com/dsu915vad/image/upload/v1636992648/DelIt/Watsapp/In_celebration_of_WhatsApps_dark_mode_Wallpaper_gelap_rzbvyz.jpg');
    /* max-height: 100vh; */
}

.user-row:hover {
    background-color: rgb(46, 44, 44);
}

.message-bar {
    bottom: 0rem;
    width: 100%;
    position: fixed;
}

@media screen and (max-width: 940px) {
    .left-image {
        background-color: black;
        position: fixed;
    }
}