#container {
	border: 2px solid white;
}
#login {
	margin-top: 50px;
}
.link {
	color: #fff;
}
#title {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
}
* {
	font-family: serif;
	font-size: 18px;
}

.link:hover {
	color: #fff;
}
